* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}  

body {
    background-image: url(https://i.imgur.com/MmvRuCg.jpg);
    background-repeat: no-repeat; /*coloca isso para o fundo não repetir */
    background-size: cover; /*Para cobrir todo os espaço */
    background-attachment: fixed;
}
#logo{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    margin: 20px;
    text-align: center;
    color: rgb(3, 3, 3);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease;
}

.nav-link:hover{
    background-color: rgba(255, 255, 255, 0.718);

}

hr{
    width: 100%;
    border: 1px solid black;
}


.quadrado{
    margin: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-color: #4a92a8;
}

h2 {
    font-size: 28px;
    color: aliceblue;
    padding: 20px;
    margin-bottom: 15px;
    margin-left: 1px;
}


@media only screen  and (max-width: 780px) {
    .nav-link {
        margin: 12px;
        font-size: 18px;
    }
    h2 {
        font-size: 25px;
    }

}

@media only screen  and (max-width: 670px) {
    .nav-link {
        margin: 10px;
        font-size: 16px;
    }
    h2 {
        font-size: 23px;
    }
}

@media only screen  and (max-width: 590px) {
    .nav-link {
        margin: 7px;
        font-size: 14px;
    }
    #logo {
        width: 30px;
        height: 30px;
    }
    h2 {
        font-size: 21px;
    }
}

@media only screen  and (max-width: 500px) {
    .nav-link {
        margin: 6px;
        font-size: 12px;
    }
    h2 {
        font-size: 20px;
    }
}

@media only screen  and (max-width: 400px) {
    .nav-link {
        margin: 3px;
        font-size: 11px;
    }
    h2 {
        font-size: 19px;
    }
}


