 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}  

body {
    background-image: url(https://i.imgur.com/MmvRuCg.jpg);
    background-repeat: no-repeat; /*coloca isso para o fundo não repetir */
    background-size: cover; /*Para cobrir todo os espaço */
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}

.nav-link {
    margin: 20px;
    text-align: center;
    color: rgb(3, 3, 3);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease;
}
.nav-link:houver{
    background-color: rgb(143, 143, 143);

}

hr {
    border: 1px solid black;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%; /*Ocupar 100% do espaço */
}

.formulário {
    background-color: #ffffff90; /*deixa a imagem com o fundo do background */
    padding: 30px;
    border-radius: 10%;
    box-shadow: 3px 3px 1px 0px #00000070; /* mudar a sombra */
    width: 400px;
    margin: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px; /*Serve para a margin de baixo do h1 */
    /*Colocar a cor no h1 */
}

input, label, textarea, button {
    display: block;
}

input, textarea {
    width: 100%;
    padding: 5px 5px;
    font-size: 14px;
    border-radius: 8px;
    margin-top: 3%;
    margin-bottom: 3%;
}

button {
    /*colocar a cor */
    padding: 10px;
    border-radius: 8px;
    margin-top: 5px;
    cursor: pointer
}


@media only screen  and (max-width: 655px) {
    .nav-link {
        margin: 12px;
        font-size: 18px;
    }
}

@media only screen  and (max-width: 575px) {
    .nav-link {
        margin: 10px;
        font-size: 16px;
    }
}

@media only screen  and (max-width: 500px) {
    .nav-link {
        margin: 5px;
        font-size: 13px;
    }
}
