* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Geneva, sans-serif;
} 

body {
    background-image: url(https://i.imgur.com/MmvRuCg.jpg);
    background-repeat: no-repeat; /*coloca isso para o fundo não repetir */
    background-size: cover; /*Para cobrir todo os espaço */
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#logo{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
}

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    margin: 20px;
    text-align: center;
    color: rgb(3, 3, 3);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Geneva, sans-serif;
    transition: background-color 0.3s ease;
}
.nav-link:hover{
    background-color: rgba(255, 255, 255, 0.718);

}

hr{
    width: 100%;
    border: 1px solid black;
}

p {
    font-size: 18px;
    font-family:Geneva, sans-serif;
    text-align: justify;
}

h1 {
    font-size: 25px;
    font-style: bold;
    background-color: #4a92a8;
    margin-bottom: 15px;
    margin-left: 1px;
    padding: 6px;
    color: aliceblue;
}



.problema{
    margin: 10px;
    width: 70%;
    padding: 10px;
    margin-right: 20%;

}

#problema {
    background-color: #ffffff75;
}

.objetivo {
    margin: 10px;
    width: 70%;
    padding: 10px;
    margin-right: 20%;
    
}

#objetivo {
    background-color: #ffffff75;
}

.imagemform {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 30%;
    
}

.imagemform .img {
    padding: 10px;
    border-radius: 10%;
}



@media only screen  and (max-width: 780px) {
    .imagemform {
        width: 80%;
        margin-right: 0%;
    }
    .problema {
        width: 95%;
        margin-right: 0%;
    }
    .objetivo {
        width: 95%;
        margin-right: 0%;
    }
    .nav-link {
        margin: 12px;
        font-size: 18px;
    }


}

@media only screen  and (max-width: 670px) {
    .nav-link {
        margin: 10px;
        font-size: 16px;
    }
}

@media only screen  and (max-width: 590px) {
    .nav-link {
        margin: 7px;
        font-size: 14px;
    }
    #logo {
        width: 30px;
        height: 30px;
    }
    p {
        font-size: 16px;
    }
    h1 {
        font-size: 21px;
    }
}

@media only screen  and (max-width: 500px) {
    .nav-link {
        margin: 6px;
        font-size: 12px;
    }
    p {
        font-size: 15px;
    }
    h1 {
        font-size: 20px;
    }
}

@media only screen  and (max-width: 414px) {
    .nav-link {
        margin: 3px;
        font-size: 11px;
    }
    p {
        font-size: 14px;
    }
    h1 {
        font-size: 19px;
    }
}

