* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Geneva, sans-serif;
} 

body {
    background-image: url(https://i.imgur.com/MmvRuCg.jpg);
    background-repeat: no-repeat; /*coloca isso para o fundo não repetir */
    background-size: cover; /*Para cobrir todo os espaço */
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}

.nav-link {
    margin: 20px;
    text-align: center;
    color: rgb(3, 3, 3);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Geneva, sans-serif;
    transition: background-color 0.3s ease;
}
.nav-link:houver{
    background-color: rgb(143, 143, 143);

}

hr{
    width: 100%;
    border: 1px solid black;
}

p {
    font-size: 18px;
    font-family:Geneva, sans-serif;
    text-align: justify;
}

h1 {
    font-size: 25px;
    font-style: bold;
    background-color: white;
    margin-bottom: 15px;
    margin-left: 1px;
}



.problema{
    margin: 10px;
    width: 50%;
    margin-right: 45%;
    position: relative;
    top: 10%;

}

#problema {
    background-color: #ffffff75;
}

.objetivo {
    margin: 10px;
    width: 50%;
}

#objetivo {
    background-color: #ffffff75;
}

.imagemform {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    margin-left: 50%;
    margin-top: -800px;
    padding: 100px;
   
}

.imagemform .img {
    padding: 10px;
    border-radius: 10%;
}

.imagemicon img{
    width: 50px;
    height: 50px;
    margin: 15px;
    position: relative;
    bottom: 80%;
}



@media only screen  and (max-width: 780px) {
    .imagemform {
        width: 100%;
    }
    .problema {
        width: 95%;
    }
    .objetivo {
        width: 95%;
    }
    .nav-link {
        margin: 12px;
        font-size: 18px;
    }


}

@media only screen  and (max-width: 670px) {
    .nav-link {
        margin: 11px;
        font-size: 17px;
    }
}

@media only screen  and (max-width: 590px) {
    .nav-link {
        margin: 10px;
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    h1 {
        font-size: 21px;
    }
}

@media only screen  and (max-width: 500px) {
    .nav-link {
        margin: 5px;
        font-size: 12px;
    }
    p {
        font-size: 15px;
    }
    h1 {
        font-size: 20px;
    }
}

@media only screen  and (max-width: 400px) {
    .nav-link {
        margin: 3px;
        font-size: 12px;
    }
    p {
        font-size: 14px;
    }
    h1 {
        font-size: 19px;
    }
}

