* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Geneva,sans-serif;
} 

body {
    background-image: url(https://i.imgur.com/MmvRuCg.jpg);
    background-repeat: no-repeat; /*coloca isso para o fundo não repetir */
    background-size: cover; /*Para cobrir todo os espaço */
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#logo{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
}

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    margin: 20px;
    text-align: center;
    color: rgb(3, 3, 3);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Geneva, sans-serif;
    transition: background-color 0.3s ease;
}
.nav-link:hover{
    background-color: rgb(143, 143, 143);
}

hr{
    width: 100%;
    border: 1px solid black;
}

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1 {
    font-size: 28px;
    font-style: bold;
    background-color: #4a92a8;
    margin-bottom: 15px;
    margin-left: 1px;
    padding: 6px;
    color: aliceblue;
}
.funcionas {
    margin: 10px;
    width: 65%;
    margin-right: 35%;
    padding: 10px;

}

#funciona {
    background-color: #ffffff75;
    
}

.livros {
    margin: 10px;
    width: 65%;
    margin-right: 35%;
    padding: 10px;
    
}

#livro {
    background-color: #ffffff75;
}
.navlink {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

#capa{
    width: 100px;
    transition: width 2s;
}

#capa1 {
    width: 100px;
    transition: width 2s;

}

#capa2 {
    width: 100px;
    transition: width 2s;

}

#capa3 {
    width: 100px;
    transition: width 2s;
}

#capa4 {
    width: 100px;
    transition: width 2s;
}

#capa:hover{
    cursor: pointer;
    width: 150px;   
}

#capa1:hover{
    cursor: pointer;
    width: 150px;   
}

#capa2:hover{
    cursor: pointer;
    width: 150px;   
}

#capa3:hover{
    cursor: pointer;
    width: 150px;   
}

#capa4:hover{
    cursor: pointer;
    width: 150px;   
}

.filmes {
    margin: 10px;
    width: 65%;
    margin-right: 35%;
    padding: 10px;
}

#filme {
    background-color: #ffffff75;
}

.filme-form h2 {
    padding-bottom: 15px;
    padding-top: 15px;
    color: rgb(34, 54, 146);
    margin-left: 10px;
    font-size: 25px;
}


#jogo {
    background-color: #ffffff75;
}

.jogos {
    margin: 10px;
    width: 65%;
    margin-right: 35%;
    padding: 10px;
}

.jogo-form #alink {
    color: rgb(34, 54, 146);
    margin-left: 10px;
    font-size: 25px;
    text-decoration: none;
    padding-bottom: 15px;
    display: flex;
    margin-top: 10px;
}

.jogo-form #alink1 {
    color: rgb(34, 54, 146);
    margin-left: 10px;
    font-size: 25px;
    text-decoration: none;
    padding-bottom: 15px;
    display: flex;
    margin-top: 10px;
}

.jogo-form #alink2 {
    color: rgb(34, 54, 146);
    margin-left: 10px;
    font-size: 25px;
    text-decoration: none;
    padding-bottom: 15px;
    display: flex;
    margin-top: 10px;
}

.jogo-form #alink3 {
    color: rgb(34, 54, 146);
    margin-left: 10px;
    font-size: 25px;
    text-decoration: none;
    padding-bottom: 15px;
    display: flex;
    margin-top: 10px;
}

.solucao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    color: rgb(3, 3, 3);
    font-size: 15px;
    font-family:Geneva, sans-serif;
    position: relative;
    top: 100%;
    text-decoration: none;
}
.subt{
    font-size: 14px;
    padding-top: 10px;
    width: 70%;
}


@media only screen  and (max-width: 780px) {
    .nav-link {
        margin: 12px;
        font-size: 18px;
    }
    .funcionas {
        width: 95%;
        margin-right: 0%;
    }
    .livros {
        width: 95%;
        margin-right: 0%;
    }
    .filmes {
        width: 95%;
        margin-right: 0%;
    }
    .jogos {
        width: 95%;
        margin-right: 0%;
    }

}

@media only screen  and (max-width: 670px) {
    .nav-link {
        margin: 10px;
        font-size: 16px;
    }
}

@media only screen  and (max-width: 590px) {
    .nav-link {
        margin: 7px;
        font-size: 14px;
    }
    #logo {
        width: 30px;
        height: 30px;
    }
    .navlink {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
    }
}

@media only screen  and (max-width: 500px) {
    .nav-link {
        margin: 6px;
        font-size: 12px;
    }
}

@media only screen  and (max-width: 414px) {
    .nav-link {
        margin: 3px;
        font-size: 11px;
    }
}



